.content {
    height: 600px;
    width: 100%;

    margin: 0 auto;
    padding: 90px 0;

    background-image: url("../../images/color-background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #F7F7F7;

    color: white;
    font-family: Montserrat, Inter,sans-serif;
}

.content__wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.content__image-container {
    width: 500px;
    height: 500px;

    background-color: #FFFFFF;
    border-radius: 600px;

    display: flex;
    justify-content: center;
}

.content__image {
    width: 600px;
    height: 100%;
}

.content__info {
    width: 40%;
}

.content__title {
    width: 100%;
    font-size: 56px;
    color: #6F169C;
}

.content__title-border {
    background-color: #6F169C;
    width: 100%;
    height: 5px;
}

.content__subtitle {
    width: 100%;
    font-size: 24px;
    font-weight: lighter;
    line-height: 2rem;
}

.content__text {
    width: 100%;
    font-size: 18px;
    font-weight: lighter;
    line-height: 2rem;
    color: #FFF;
    filter: brightness(87%);
}

.content__link {
    text-decoration: none;
    font-weight: 400;
    color: purple;
    border: 2px solid purple;
    border-radius: 10px;
    padding: 2px 3px;

    transition: all .1s ease-in-out;
}

.content__link:hover {
    border-color: #c2c2c2;
    color: white;
    background-color: #c2c2c2;
}

@media screen and (max-width: 420px) {
    .content {
        min-height: 70vh;
        padding: 30px 0;
    }

    .content__wrapper {
        width: 100%;

        display: block;

    }
    .content__image-container{
        width: 90%;
        height: 50%;

        margin: 0 auto;
    }

    .content__image {
        width: 100%;
    }

    .content__info {
        width: 90%;
        margin: 0 auto;
    }

    .content__title {
        font-size: 24px;
        margin: 15px auto;
        text-align: center;
    }

    .content__subtitle {
        font-size: 18px;
    }

    .content__text {
        font-size: 14px;
        color: #FFFFFF;
        filter: brightness(100%);
        margin-bottom: 20px;
    }
}