.header__button {
    background-color: #0070f3;
    border: none;
    border-radius: 10px;

    font-family: Montserrat, Inter, sans-serif;
    font-size: 16px;
    color: #FFFFFF;

    margin: 28px 0;
    padding: 0 25px;
}

.header__button:hover {
    cursor: pointer;
    opacity: 0.9;
}
