.intro {
    background-image: url("../../images/bg_bggenerator_com.png");
    backdrop-filter: blur(3000px);
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
