.features__image-container {
    width: 100%;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: scale .2s ease-in-out;
}

.features__image-container:hover {
    scale: 1.02;
    cursor: pointer;
}
