.features__image-container {
    width: 100%;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #E5E5E5;

    transition: scale .2s ease-in-out;
}

.features__image-container:hover {
    scale: 1.02;
    cursor: pointer;
}
